/*  your css code here. If applicable */
/* body{
    background-color: yellow;
    text-align: center;
}

#f1::before{
    display: inline;
    content: 'Flowers photos';
}

#f2::before{
    display: inline;
    content: 'Roses pictures';
} */
